*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  margin-top: 100px;
}

.details-container {
  /* background: yellow; */
  display: flex;
  /* margin-top: 190px; */
  margin: auto;
  /* border: 1px solid; */
  padding: 20px;
   width: 50%;
    /* background-color: #b16d29; */
  }

 .coffeDetails{
 background-color: #e2c1a1;
  }
  
  .details-img {
    width: 380px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .options, .size-options, .quantity, .price {
    margin: 15px 0;
  }
  
  button {
    padding: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
  }
  
  .buy-button {
    background-color: #b58460;
    color: white;
    height: 30px;
    width: 70px;
    /* padding: 20px 30px; */
  }
  h2{
    color: #b16d29;
  }

  .size{
    border: 1px solid;
    margin-inline: 10px;
    width: 35px;
    border-radius: 0;
    margin-top: 10px;
  }
  