*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.details-container {
    padding: 20px;
    /* background-color: #b16d29; */
  }
  
  .details-img {
    /* width: 100%; */
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .options, .size-options, .quantity, .price {
    margin: 15px 0;
  }
  
  button {
    padding: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
  }
  
  .buy-button {
    background-color: #b58460;
    color: white;
    padding: 10px 20px;
  }
  h2{
    color: #b16d29;
  }
  