body{
    /* padding: 20px; */
    background-color: #f8f5f2;
  }
  
  .home-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 30px;

  }
  .home-heading{
    color: #ca8451;
    font-size: 30px;
    padding: 20px;
  }
  .search-input {
    width: 40%;
    height: 30px;
    /* padding: 0px; */
    border-radius: 20px;
    border: 1px solid rgb(187, 150, 82);
    background: rgba(252, 236, 207, 0.5);
    margin-top: 30px;
  }
  
  .coffee-categories {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    
  }
  
  .coffee-categories .categories {
    color: #b58460;
    /* color: white; */
    padding: 5px 15px;
    /* border-radius: 20px; */
    border-bottom: 2px solid #d4854c;
    cursor: pointer;
    height: 25px;
    width: 5.5%;
    font-size: 18px;
  }
  
  .coffee-grid {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin: auto;
  }
  
  .coffee-item {
    /* background-color:white; */
    box-shadow: 10px 6px 15px rgb(219, 216, 216);
    /* border: 1px solid #b58460; */
    border-radius: 21px;
    padding: 10px;
    text-align: center;
    width: 250px;
    height: 300px;
    margin-top: 20px;
  }
  
  .coffee-img {
    width: 94%;
    border-radius: 20px;
    margin-top: 10px;
  }
  .latte{
    height: 155px;
  }
  .title{
    font-size: 19px;
    margin-top: 20px;
  }

.price{
    font-weight: bold;
    font-size: 20px;
    position: relative;
    top: 50px;
    right: 40px;
}
  .add-btn{
    height: 40px;
    width: 40px;
    font-size: 20px;
    /* padding: 36px; */
    background-color: #b58460;
    color: wheat;
    position: relative;
    left: 80px;
    top: 48px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 17px;
    border-bottom-right-radius: 17px;
  }